body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #899a95;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #314e46;
  padding-top: 20px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar ul li {
  margin: 20px 0;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease, border-radius 0.2s ease;
}

.nav-bar ul li a:hover {
  background-color: #3c5f54;
  border-radius: 5px;
}

.alpha {
  
  display: flex;
  margin-left: 220px;
  padding: 20px;
}

.contenedor {
  flex: 1;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #314e46;
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #314e46;
  color: white;
  text-transform: uppercase;
}

td {
  color: #2c3e50;
}

td:hover {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.btnCategoria {
  background-color: #314e46;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnCategoria:hover {
  background-color: #3c5f54;
  transform: scale(1.05);
}
footer {
  background-color: #314e46;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  border-radius: 8px; 
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  background-color: #2c3e50; 
  border-radius: 8px; 
  border: 1px solid #1a2521; 
}

footer p {
  font-size: 14px;
  margin: 0;
  letter-spacing: 1px;
}

footer p:hover {
  color: #f39c12;
  cursor: pointer;
  transition: color 0.3s ease;
}
